<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="sheet\todo.css">
   
</head>
<body>

    <div id="myDIV" class="header">
        <h2 style="margin:5px">My To Do List</h2>
        <input type="text" id="myInput" >
        <span onclick="newElement()" class="addBtn">Add</span>
    </div>

    <ul id="myUL">
        <li>Attend Weekly Meeting</li>
        <li class="checked">Attend a really fun hackathon</li>
        <li>Coffee run</li>
        <li>Project Management WorkShop</li>
        <li>Send follow up emails to John and Jane Doe</li>
        <li>Organize office</li>
        <li>Find the null pointer exception</li>
        <li> Entertain another debate about the worst programming language</li>
        <li>Is my laptop dying or is it just broken?</li>
        <li>Tell myself I am going to make a mini keyboard</li>
        <li>Realize I will probably continue to put it off</li>
        <li>Go to another hackathon</li>
        <li>Attend a meeting that could have been an email</li>
        <li>Send out more emails</li>
        <li>Coffee run again</li>
        <li>CyberSecurity WorkShop</li>
        <li>Clean more</li>
        <li>Clear some space for a new printer</li>
        <li>Learn a new language</li>
        <li>Go through voicemails </li>
        <li>Buy a new laptop</li>
        
    </ul>

    <script>
var myNodelist = document.getElementsByTagName("LI");
var i;
for (i = 0; i < myNodelist.length; i++) {
  var span = document.createElement("SPAN");
  var txt = document.createTextNode("\u00D7");
  span.className = "close";
  span.appendChild(txt);
  myNodelist[i].appendChild(span);
}


var close = document.getElementsByClassName("close");
var i;
for (i = 0; i < close.length; i++) {
  close[i].onclick = function() {
    var div = this.parentElement;
    div.style.display = "none";
  }
}


var list = document.querySelector('ul');
list.addEventListener('click', function(ev) {
  if (ev.target.tagName === 'LI') {
    ev.target.classList.toggle('checked');
  }
}, false);

// Create a new list item when clicking on the "Add" button
function newElement() {
  var li = document.createElement("li");
  var inputValue = document.getElementById("myInput").value;
  var t = document.createTextNode(inputValue);
  li.appendChild(t);
  if (inputValue === '') {
    alert("You must write something!");
  } else {
    document.getElementById("myUL").appendChild(li);
  }
  document.getElementById("myInput").value = "";

  var span = document.createElement("SPAN");
  var txt = document.createTextNode("\u00D7");
  span.className = "close";
  span.appendChild(txt);
  li.appendChild(span);

  for (i = 0; i < close.length; i++) {
    close[i].onclick = function() {
      var div = this.parentElement;
      div.style.display = "none";
    }
  }
}</script>

</body>
</html>